html
{
    font-family: 'Manrope', sans-serif;
    font-size: 100%;
}

body
{
    margin: 0;
    padding: 0;
}

ul
{
    list-style-type: none;
}

a
{
    text-decoration: none;
}

footer
{
    font-size: .5em;
    position: fixed;
    bottom: 0;
    right: 0;
}

#vert-short
{
    width: 10px;
    height: 40px;
    position: fixed;
    left: 30px;
    bottom: 0;
    background-color: black;
    border: 0;
}

#hori-short
{
    width: 40px;
    height: 10px;
    position: fixed;
    bottom: 30px;
    background-color: black;
}

#vert-long
{
    width: 10px;
    height: 20%;
    position: fixed;
    left: 10px;
    bottom: 10px;
    background-image: linear-gradient(white, black);
}

#hori-long
{
    width: 20%;
    height: 10px;
    position: fixed;
    left: 10px;
    bottom: 10px;
    background-image: linear-gradient(to left, white, black);
}

.backdrop
{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

#menu
{
    width: 10px;
    height: 10px;
    position: fixed;
    left: 20px;
    bottom: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.container
{
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 240px auto;
}

.container .box
{
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.container .box .icon
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    transition: .5s;
    z-index: 1;
}

.container .box:hover .icon
{
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container .box .icon .fas
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: .5s;
    color: white;
}

.container .box:hover .icon .fas
{
    font-size: 40px;
}

.container .box .content
{
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
}

.container .box:hover .content
{
    top: 100px;
    opacity: 1;
}

.container .box .content h3
{
    margin: 0 0 10px;
    padding: 0;
    color: white;
    font-size: 24px;
}

.container .box .content p
{
    margin: 0;
    padding: 0;
    color: white;
}

/*.container .box:nth-child(1) .icon
{
    background: #319635;
}*/

.container .box:nth-child(1)
{
    background: #4caf50;
}

/*.container .box:nth-child(2) .icon
{
    background: #d03852;
}*/

.container .box:nth-child(2)
{
    background: #f54967;
}

/*.container .box:nth-child(3) .icon
{
    background: #23798e;
}*/

.container .box:nth-child(3)
{
    background: #328fa5;
}

button:hover,
 button:active
{
    background: #521751;
}

.vert-lil button:focus
{
    outline: none;
}